<h2>プレゼント履歴</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
      </tr>
    </thead>
  
    <tbody>
      <% @results.each_with_index do |result,num| %>
        <tr>
          <th scope="row"><%= num + 1 %></th>
          <td><%= result[:names][0] %></td>
          <td><%= result[:names][1] %></td>
          <td><%= result[:names][2] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  