<div class="container" data-controller="gift-loading">
    <h1 class="text-center" >プレゼント提案</h1>
  
    <%= form_with url: gift_suggestions_path, data: { turbo: false ,action: "submit->gift-loading#submit"} do |form| %>
  
      <div class="flex mb-5 mt-5 text-center">
        <%= form.submit "提案",class: "rounded", data: {gift_loading_target: "submitButton"} %>
      </div>
    <% end %>
    <div data-gift-loading-target= "loadingIndicator" style="display:none" class="">
      <p class="">AIが考えています...</p>
    </div>
  </div>


  <% if @contents %>
  <div class="container border mt-5">
      <div class="">  
        <h3 class="">提案</h3>
        <ul class="">
          <% @contents['presentSuggestions'].each do |presentSuggestion| %>
            <li><%= presentSuggestion['name'] %> - <%= presentSuggestion['reason'] %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  
  