<div class="min-vh-100 d-flex flex-column align-items-center pt-5">
  <h1 class="display-4 fw-semibold title-shadow mb-4">for mine.</h1>
  
  <div class="w-100 px-4 mb-4" style="max-width: 520px;">
      <div class="card shadow-sm border border-dark">
        <div class="card-body py-5">
          <p>主な機能</p>
          <p>
            ・記念日を登録できる<br>
            ・次に来る記念日を一覧で見れる<br>
            ・当日に通知で思い出せる<br>
          </p>
        </div>
      </div>
    </div>
  <!-- MVP -->   
  <div class="w-100 px-4 mb-4" style="max-width: 520px;">
      <div class="card shadow-sm border border-dark">
        <div class="card-body py-5">
          <p>MVP</p>
          <p>
           ・ユーザー登録<br>
           ・ログイン・ログアウト<br>
           ・記念日CRUD(タイトル、日付)<br>
           ・パートナーCRUD（名前、性別、関係性、職業、年齢、すきのこと、嫌いなこと、趣味、最大予算、最低予算）<br>   
          </p>
        </div>
      </div>
    </div>

<!-- スライドの外枠 -->
<div class="slide-wrapper">
  <!-- スライド（コンテンツ） -->
  <div id="slide" class="slide">
    <div>
      <p>スライド１</p>
    </div>
    <div>
      <p>スライド２</p>
    </div>
    <div>
      <p>スライド３</p>
    </div>
  </div>
  <!-- 左右のボタン -->
  <span id="prev" class="prev"></span>
  <span id="next" class="next"></span>
  <!-- インジケーター -->
  <ul class="indicator" id="indicator">
    <li class="list"></li>
    <li class="list"></li>
    <li class="list"></li>
  </ul>
</div>

</div>

    