<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4">パートナー編集</h1>
      <%= render "form", partner: @partner, submit_label: "更新" %>
    <div class="mt-3">
      <%=link_to "詳細へ",partner_path %>
    </div>      
    </div>
  </div>
</div>
