<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>パートナー登録</h1>
      <%= render "form", partner: @partner, submit_label: "登録" %>
    </div>
    <div>
      <%=link_to "詳細へ",partner_path %>
    </div>
  </div>
</div>