<h2>anniversary</h2>

<section id="mv">
    <h1>JavaScript<br>Element Fadein on Scroll</h1>
  </section>
  
  <section>
    <div class="section-conts ef">
      <h2>HEADLINE</h2>
      <p>Example text... Example text... Example text... Example text... Example text... Example text... Example text... Example text... Example text... </p>
    </div>
  </section>
  
  <section>
    <div class="section-conts ef">
      <h2>HEADLINE</h2>
      <p>Example text... Example text... Example text... Example text... Example text... Example text... Example text... Example text... Example text... </p>
    </div>
  </section>
  
  <section>
    <div class="section-conts ef">
      <h2>HEADLINE</h2>
      <p>Example text... Example text... Example text... Example text... Example text... Example text... Example text... Example text... Example text... </p>
    </div>
  </section>

  <header class="header">
    <h1>ヘッダー</h1>
 </header>

 <div class="mainvisual"></div>
 <div class="container"> 
   <h2 class="content-title fadein">コンテンツ</h2>
   <div class="content fadein">
     <img src="ここに表示したい画像のパスを入力してください" alt="">
     <p>テキストテキストテキストテキストテキストテキストテキスト</p>
   </div>

   <div class="content fadein">
    
     <p>テキストテキストテキストテキストテキストテキストテキスト</p>
   </div>

   <div class="content fadein">
     <img src="ここに表示したい画像のパスを入力してください" alt="">
     <p>テキストテキストテキストテキストテキストテキストテキスト</p>
   </div>

   <div class="content fadein">
     <img src="ここに表示したい画像のパスを入力してください" alt="">
     <p>テキストテキストテキストテキストテキストテキストテキスト</p> 
   </div>

   <div class="content fadein">
 