<div data-controller="fade">

    <div class="card shadow-sm mb-4 fadein">
      <div class="card-body">
        <h5 class="card-title">① 提案結果を確認</h5>
        <p class="card-text">
          AIが提案したプレゼントを一覧で確認できます。
        </p>
      </div>
    </div>
  
    <div class="card shadow-sm mb-4 fadein">
      <div class="card-body">
        <h5 class="card-title">② 履歴を管理</h5>
        <p class="card-text">
          過去に提案されたプレゼント履歴を確認できます。<br>
          不要になった提案履歴は削除することも可能です。
        </p>
      </div>
    </div>


  <div class="alert alert-info fadein">
    <strong>ヒント：</strong>
    パートナー情報を多く登録するほど、プレゼント提案の精度が高くなります。
  </div>

    <div class="alert alert-warning fadein">
      <strong>注意：</strong>
      パートナーを登録していないと機能を使うことができません
    </div>
    <div class="alert alert-warning fadein">
      <strong>注意：</strong>
      プレゼント提案は月に5回まで使用可能です
    </div>
  </div>

