<div data-controller="fade">

  <div class="card shadow-sm mb-4 fadein">
    <div class="card-body">
      <h5 class="card-title">通知設定</h5>
      <p class="card-text">
        通知を送れるようにするには、通知設定をONにする必要があります
      </p>
    </div>
  </div>

  <div class="card shadow-sm mb-4 fadein">
    <div class="card-body">
      <h5 class="card-title">LINEでお知らせ</h5>
      <p class="card-text">
        設定したタイミングで、あなたの記念日に向けてLINE通知が届きます。
      </p>
    </div>
  </div>


  <div class="card shadow-sm mb-4 fadein">
    <div class="card-body">
      <h5 class="card-title">通知が届く期間</h5>
      <p class="card-text">
      通知開始日から通知からあなたの記念日まで通知が届きます。<br>
      たとえば<br>
       今日が2025年3月10日で、記念日が3月15日の場合 → 2025年3月15日<br>
       今日が2025年3月20日で、記念日が3月15日の場合 → 2026年3月15日
      </p>
    </div>
  </div>

  <div class="card shadow-sm mb-4 fadein">
    <div class="card-body">
      <h5 class="card-title">頻度と時間</h5>
      <p class="card-text">
        通知は、設定した時間に、選んだ頻度（毎日・数日ごと）で届きます
      </p>
    </div>
  </div>
  <div class="card shadow-sm mb-4 fadein">
    <div class="card-body">
      <h5 class="card-title">通知リセット</h5>
      <p class="card-text">
      記念日になると通知は止まります<br>
      また通知したい場合は、もう一度設定してください
      </p>
    </div>
  </div>
  <div class="alert alert-warning fadein">
    <strong>注意：</strong>
    過去の記念日には通知されません。<br>
    2月29日に登録した記念日は、うるう年でない場合は2月28日に通知されます。
  </div>
  <div class="alert alert-warning fadein">
    <strong>注意：</strong>
    通知機能を使うには公式ラインの登録が必要です。
    <a href="https://lin.ee/XNdU8tj">
  <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"
       alt="友だち追加"
       height="36">
    </a>
  </div>
</div>
