<div data-controller="fade">

  <div class="card shadow-sm mb-4 fadein">
    <div class="card-body">
      <h5 class="card-title">① 通知設定</h5>
      <p class="card-text">
        通知をONにすると、いつ・どのくらい前に知らせるかを設定できます。
      </p>
    </div>
  </div>

  <div class="card shadow-sm mb-4 fadein">
    <div class="card-body">
      <h5 class="card-title">② LINEでお知らせ</h5>
      <p class="card-text">
        設定したタイミングで、次の記念日に向けてLINE通知が届きます。
      </p>
    </div>
  </div>
  <div class="card shadow-sm mb-4 fadein">
    <div class="card-body">
      <h5 class="card-title">③ 次の記念日に合わせて通知</h5>
      <p class="card-text">
      記念日が過ぎている場合でも、次に来る記念日に向けて通知されます。<br>
      例：<br>
       今日が2025年1月1日で記念日が1月2日の場合 → 2025年1月2日 <br>
       今日が2025年1月2日で記念日が1月1日の場合 → 2026年1月1日    
      </p>
    </div>
  </div>

  <div class="alert alert-warning fadein">
    <strong>注意：</strong>
    過去の記念日には通知されません。<br>
    2月29日に登録した記念日は、うるう年でない場合は2月28日に通知されます。
  </div>


</div>