<div data-controller="fade">

    <div class="card shadow-sm mb-4 fadein">
      <div class="card-body">
        <h5 class="card-title">① パートナーを登録</h5>
        <p class="card-text">
          名前や関係性、好きなものなどを登録しておきましょう。
        </p>
      </div>
    </div>
  
    <div class="card shadow-sm mb-4 fadein">
      <div class="card-body">
        <h5 class="card-title">② 提案があなた向けに<</h5>
        <p class="card-text">
          登録した情報をもとに、相手に合うプレゼントを提案します。<br>
          情報が多いほど、よりぴったりな提案になります。
        </p>
      </div>
    </div>
  
    <div class="card shadow-sm mb-4 fadein">
      <div class="card-body">
        <h5 class="card-title">③ 登録状況をチェック</h5>
        <p class="card-text">
          入力した情報はバーで確認できます。<br>
          どれくらい登録できているか、一目でわかります。
        </p>
      </div>
    </div>
  
  </div>