<div data-controller="fade">

    <div class="card shadow-sm mb-4 fadein">
      <div class="card-body">
        <h5 class="card-title">① パートナー情報を登録</h5>
        <p class="card-text">
          名前・関係性・好きなもの・趣味などを登録します。
        </p>
      </div>
    </div>
  
    <div class="card shadow-sm mb-4 fadein">
      <div class="card-body">
        <h5 class="card-title">② プレゼント提案の精度アップ</h5>
        <p class="card-text">
          登録した情報をもとに、パートナーに合うプレゼントを提案します。<br>
          情報を多く登録するほど、提案の精度が高くなります。
        </p>
      </div>
    </div>
  
    <div class="card shadow-sm mb-4 fadein">
      <div class="card-body">
        <h5 class="card-title">③ 登録率を確認</h5>
        <p class="card-text">
          登録した情報はプログレスバーで確認できます。<br>
          どのくらい情報を登録できているかを一目で確認できます。
        </p>
      </div>
    </div>
  
  </div>