

<p class="mt-5">パートナーでは、大切な人の情報を登録することができます。</p>

<div>
    <h2>① パートナー情報を登録</h2>
    <p>名前・関係性・好きなもの・趣味などを登録します。</p>
</div>
<div>
    <h2>② プレゼント提案の精度アップ  </h2>
    <p>登録した情報をもとに、パートナーに合うプレゼントを提案します。<br>
     情報を多く登録するほど、提案の精度が高くなります。
</p>
</div>
<div>
    <h2>③ 登録率を確認</h2>
    <p>登録した情報はプログレスバーで確認できます。<br>
    どのくらい情報を登録できているかを一目で確認できます。</p>
</div>
  




  
