<div class="container my-5" data-controller= "how-to-select">
    <div class="text-center mb-4">
     <h2>使い方</h2>   
    </div>
  <div class="row justify-content-center mb-5">
    <div class="col-md-6">
        <select name="items"  class="how_to_items" data-how-to-select-target= "select" data-action="change->how-to-select#change">
            <option value="1">記念日</option>
            <option value="2">通知設定</option>
            <option value="3">パートナー</option>
            <option value="4">プレゼント提案</option>
        </select>        
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-lg-8">
<% case @section%>
<% when "1"%>
    <%= render "anniversary"%>
<% when "2"%>
    <%= render "notification_info"%>
<% when "3"%>
    <%= render "partner"%>
<% when "4"%>
    <%= render "gift_suggestion"%>
<% end %>         
    </div>
  </div>
</div>
