<h1>HowTo#show</h1>
<p>Find me in app/views/how_to/show.html.erb</p>


<h2>使い方</h2>

<select name="items" id="items" class="how_to_items">
    <option value="1">anniversary</option>
    <option value="2">partner</option>
    <option value="3">present</option>
    <option value="4">present history</option>
</select>

<% case @section%>
<% when "1"%>
    <%= render "anniversary"%>
<% when "2"%>
    <%= render "partner"%>
<% when "1"%>
    <%= render "gift_suggestion"%>
<% when "1"%>
    <%= render "gift_history"%>
<% end %>

<script>

const selectbox = document.querySelector('.how_to_items');

const searchKey = 'itemId';

document.addEventListener('DOMContentLoaded', (event) => {
  setInitialItem();
  selectbox.addEventListener('change', onChangeItemSelect);
});

/** セレクトボックス初期値を検索クエリに合わせてセット */
function setInitialItem() {
  selectbox.value = url.searchParams.get(searchKey) || 1;
}

/** セレクトボックス値変更時に検索クエリを変更してページ遷移 */
function onChangeItemSelect(event) {
  const url = new URL(window.location.href);
  const selectbox = event.target;
  const itemId = event.target.value;

  url.searchParams.set(searchKey, itemId);

  window.location.href = url.toString();
} 
</script>