<div data-controller= "how-to-select">

<h2 class="mt-3">使い方</h2>

<select name="items"  class="how_to_items" data-how-to-select-target= "select" data-action="change->how-to-select#change">
    <option value="1">記念日</option>
    <option value="2">パートナー</option>
    <option value="3">プレゼント提案</option>
    <option value="4">提案履歴</option>
</select>
</div>
<% case @section%>
<% when "1"%>
    <%= render "anniversary"%>
<% when "2"%>
    <%= render "partner"%>
<% when "3"%>
    <%= render "gift_suggestion"%>
<% when "4"%>
    <%= render "gift_suggestion_history"%>
<% end %> 