        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-teritary shadow">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title fw-semibold" id="sidebarMenuLabel">bootstrap 5 dashboard</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center fw-semibold gap-2" aria-current="page"  href="#">
                                <i class="bi bi-house-ffill"></i>
                                <%= link_to "Dashbard", admin_root_path%>
                            </a>
                        </li>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center  gap-2">
                                <%= link_to "users",admin_users_path %>
                            </a>
                        </li>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2"  href="#">
                                <i class="bi bi-people"></i>
                                Dashboard3
                            </a>
                        </li>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" aria-current="page"  href="#">
                                <i class="bi bi-graph-up"></i>
                                Dashboard4
                            </a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" href="#">
                                <i class="bi bi-gear-wide-connected"></i>
                                setings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" href="#">
                                <i class="bi bi-door-closed"></i>
                                sign <output></output>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>