<div class="container">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
       <span class="mb-6 mb-md-0 ext-body-secondary">© 2025 for_mine</span>
    </div>
    <ul class="nav col-md--4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <%= link_to "利用規約","#", {class: "navbar-brand"}%>
        </li>
    <ul class="nav col-md--4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <%= link_to "お問い合わせ","#", {class: "navbar-brand"}%>
        </li>
    <ul class="nav col-md--4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <%= link_to "プライベートポリシー","#", {class: "navbar-brand"}%>
        </li>
    </ul>
</footer>    
</div>
