<footer class="footer-bottom">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <p>copyright © 2025.for_mine</p>
            </div>
            <div class="col">
                <p>利用規約</p>
            </div>
            <div class="col">
                <p>お問い合わせ</p>
            </div>
            <div class="col">
                <p>プライバシーポリシー</p>
            </div>
                
        </div>
    </div>
</footer>   
