<header> 
    <div>
        <li>
            <%= link_to "ホーム", user_root_path%>
            <%= link_to "ログアウト", destroy_user_session_path,data: { turbo_method: :delete } %>
        </li>
    </div>
</header>
