<div class="container mt-5" style="max-width:600px;">


  
    <p>
      for mine に関するご質問・ご意見がございましたら、  
      以下のメールアドレスまでご連絡ください。
    </p>
  
    <div class="mt-4">
      <a href= "mailto:" ,class="btn btn-outline-dark">
        メールで問い合わせる
      </a>
    </div>
  
  </div>