<div class="container">
    <div class="row g-3">
      <div class="col-12 col-md-6">
        <%= link_to "anniversary", anniversaries_path,
          class: "btn btn-primary w-100 py-5 fs-2" %>
      </div>
  
      <div class="col-12 col-md-6">
        <%= link_to "partner", partner_path,
          class: "btn btn-primary w-100 py-5 fs-2" %>
      </div>
    </div>
  </div>
  