<div>
username:
<%= @user.name %>    
</div>

<div class="mt-5">
    <p>通知を受け取るには公式ライン登録が必要です(まだ未実装)</p>
    <a href="https://lin.ee/XNdU8tj"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>          
  </div>
  
<div>
  <%= link_to "ユーザー削除", confirm_my_page_path%>
</div>

