<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-4">記念日編集</h1>

      <%= render "form", form: @form, submit_label: "更新" %>

      <div class="mt-3">
        <%= link_to "一覧へ", anniversaries_path %>
      </div>
    </div>
  </div>
</div>
