<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>記念日作成</h1>

      <%= render "form", form: @form, submit_label: "作成" %>

      <div class="mt-4">
        <%= link_to "一覧へ", anniversaries_path %>
      </div>
    </div>
  </div>
</div>